
<h2>About the Author</h2>
<p>
    <img src="https://avatars.githubusercontent.com/u/40205428?v=4" alt="Professional headshot of Tobi Kazeem." class="alignleft border" width="75" height="85" align="left" loading="lazy">
    Tobi Kazeem is a Microsoft Certified Data Professional with specialty in developing scalable BI solution and cloud data solution for enterprise. 
    <br> His core value is <i>discipline at the center, flexibilty at the edge.</i> 
    He loves data and enjoy working on services offers on Azure Data Platform.
    He's a Micorosft Certified Trainer and he loves teaching and sharing of knowledge.
</p>